- @page_title = 'Fragrances'

- content_for :page_header do
  .search_box
    - form_tag nil, :class => 'todo' do
      = text_field_tag :q, nil, :class => :hint, :title => 'Search by fragrance name or code'

%ul.buttons
  %li= link_to "+ Create Fragrance", new_fragrance_path, :class => 'primary'

%table.striped.list
  %thead
    %tr
      %th State
      %th Code
      %th Name
      %th Year
      %th Owner
      %th Updated
  %tbody
    - @fragrances.each do |fragrance|
      %tr.clickable
        %td= fragrance.state
        %td= link_to fragrance.code, fragrance
        %td= fragrance.name
        %td= fragrance.product_year
        %td== #{fragrance.owner}
        %td{ :title => fragrance.updated_at.to_s(:long)}== #{time_ago_in_words fragrance.updated_at} ago

= will_paginate @fragrances
