- @page_title = "Fragrance: #{@fragrance}"

%ul.buttons
  - unless params[:as_on].present?
    %li= link_to "Edit Fragrance", edit_fragrance_path, :class => 'primary'
  - else
    %li= link_to "&laquo; Current Version".html_safe, fragrance_path, :class => 'primary'
  %li.select
    %a More
    %ul
      %li= link_to "View History", history_fragrance_path
      %li= link_to "Copy", new_fragrance_path(:copy_of_id => params[:id], :as_on => params[:as_on])

= render :partial => 'formulations/show', :locals => { :formulation => @fragrance }
= render 'formulations/items'
