- @page_title = "Fragrance: #{@fragrance}"

%ul.buttons
  %li= link_to "Edit Fragrance", edit_fragrance_path, :class => 'primary'
  %li.select
    %a More
    %ul
      %li= link_to "View History", history_fragrance_path
      %li= link_to "Copy", new_fragrance_path(:copy_of_id => params[:id], :as_on => params[:as_on])

%table.form
  %tr
    %th Owner
    %td= @fragrance.owner
    %th State
    %td= @fragrance.state
  %tr
    %th Product Year
    %td= @fragrance.product_year
    %th Origin Formula ID
    %td= @fragrance.origin_formula_id
  %tr
    %th Top Note
    %td{ :colspan => 3 }= @fragrance.top_note.present? ? @fragrance.top_note : "N/A"
  %tr
    %th Middle Note
    %td{ :colspan => 3 }= @fragrance.middle_note.present? ? @fragrance.middle_note : "N/A"
  %tr
    %th Base Note
    %td{ :colspan => 3 }= @fragrance.base_note.present? ? @fragrance.base_note : "N/A"

%h2 Ingredients

%table.list.striped
  %thead
    %tr
      %th{ :style => 'width: 70%'} Compound
      %th{ :style => 'text-align: center;', :colspan => 2 } Quantity
      %th{ :style => 'text-align: center;', :colspan => 2 } Cost
  %tbody
    - @items.each do |item|
      %tr
        %td= item.compound
        %td.numeric
          = number_with_precision item.quantity, :precision => 3
        %td.numeric.quiet
          == #{number_to_percentage item.quantity_percentage}
        %td.numeric
          = number_to_currency 8292.80, :unit => 'Rs.'
        %td.numeric.quiet
          == #{number_to_percentage 12.7}
