- @page_title = @ingredient

%ul.buttons
  %li= link_to "Edit", [:edit, @ingredient], :class => 'primary'
  %li.select
    %a View
    %ul
      %li= link_to "History", "#", :class => 'todo'
      %li= link_to "Derivatives", "#", :class => 'todo'

%table.form
  %tr
    %th Name
    %td= @ingredient.name
    %th Code
    %td= @ingredient.code
  %tr
    %th Tax
    %td= @ingredient.tax
    %th Custom Duty
    %td= @ingredient.custom_duty

%h2 Prices

%table.list
  %thead
    %tr
      %th{ :style => 'width: 50px' } Applicable from
      %th{ :style => 'width: 10px' } Type
      %th.numeric.border{ :style => 'width: 120px' } INR
      %th.numeric.border{ :style => 'width: 120px' } USD
      %th.numeric.border{ :style => 'width: 120px' } EUR
      %th
  %tbody
    - @ingredient.prices.chronological.reverse.each do |price|
      %tr
        %td= price.applicable_from.to_s(:long)
        %td= price.gross? ? 'Gross' : 'Net'
        %td.border.numeric= number_to_currency price.inr, :unit => IngredientPrice::SUPPORTED_CURRENCIES['INR']
        %td.border.numeric= number_to_currency price.usd, :unit => IngredientPrice::SUPPORTED_CURRENCIES['USD']
        %td.border.numeric= number_to_currency price.eur, :unit => IngredientPrice::SUPPORTED_CURRENCIES['EUR']
        %td.tip
          - if price.gross?
            == calculated on #{price.created_at.to_s(:long)}
          - else
            == updated on #{price.created_at.to_s(:long)}
