%tr.item.row
  %td{ :style => 'width: 100px' }
    = form.label :compound_type, 'Type'

    - unless form.object.compound.present?
      = form.select :compound_type, %w(Ingredient Accord), {}, :class => :compound_type
    - else
      = form.object.compound_type
      = form.hidden_field :compound_type
  %td{ :style => 'width: 300px' }
    = form.label :compound_name, "Compound"
    - unless form.object.compound.present?
      = form.text_field :compound_name, :class => 'compound'
      = form.hidden_field :compound_id, :class => 'compound_id'
      .tip Enter the name or code
    - else
      = form.object.compound
      = form.hidden_field :compound_id
  %td
    = form.label :quantity
    = form.text_field :quantity, :class => 'numeric quantity'
    grams
  %td
    = label_tag :price_per_gram
    = ThreadLocal.current_currency
    %input{ :type => 'text', :class => 'numeric price_per_gram', :disabled => true, :readonly => true, :value => form.object.compound.present? ? form.object.compound.price_per_gram.round(2) : nil }
  %td
    = label_tag :price
    = ThreadLocal.current_currency
    %input{ :type => 'text', :class => 'numeric price', :disabled => true, :readonly => true }
  %td.remove
    - unless form.object.new_record?
      = form.check_box :_destroy
      = form.label :_destroy, "Remove", :class => 'inline'
    - else
      %a{ :href => '#' } Remove

