- if formulations.present? 
  %table.striped.list
    %thead
      %tr
        %th State
        %th Code
        %th Name
        %th Year
        %th Owner
        %th Updated
    %tbody
      - formulations.each do |formulation|
        %tr.clickable
          %td= formulation.state
          %td= link_to formulation.code, formulation
          %td= formulation.name
          %td= formulation.product_year
          %td== #{formulation.owner}
          %td{ :title => formulation.updated_at.to_s(:long)}== #{time_ago_in_words formulation.updated_at} ago
  
  = will_paginate formulations
