- @page_title = @formulation

- if @formulation_version.draft?
  .notice
    You are viewing a draft version of this formulation.
    - if @formulation.published?
      == Switch to the #{link_to 'current version', @formulation} (published on #{@formulation.published_at.to_s(:short)})
- else
  - if !@formulation_version.current?
    .notice
      == You aren't viewing the current version of this formulation. Switch to the #{link_to 'current version', @formulation} (published on #{@formulation.published_at.to_s(:short)})

= render 'shared/price_preferences_form'
%ul.buttons
  - if @formulation_version.current? || @formulation_version.draft?
    %li= link_to "Edit", [:edit, @formulation_version], :class => "primary #{'disabled' if @formulation_version.published?}"
    %li= link_to "New Version", new_fragrance_formulation_version_path(@formulation, :version_id => @formulation_version.id)
  - if @formulation_version.draft?
    %li= link_to "Publish", [:publish, @formulation_version], :method => :put, :confirm => 'Really publish this version?'
  %li.select
    %a More
    %ul
      %li= link_to "View History", [@formulation, :formulation_versions]
      %li= link_to "Copy", { :action => :new, :copy_of_id => @formulation_version.id }

= render :partial => 'formulation_versions/header', :locals => { :formulation_version => @formulation_version }
= render :partial => 'formulation_versions/items', :locals => { :formulation_version => @formulation_version }
