- @page_title = "Accord: #{@accord}"

%ul.buttons
  - unless params[:as_on].present?
    %li= link_to "Edit Accord", edit_accord_path, :class => 'primary'
  - else
    %li= link_to "&laquo; Current Version".html_safe, accord_path, :class => 'primary'
  %li.select
    %a More
    %ul
      %li= link_to "View History", history_accord_path
      %li= link_to "Copy", new_accord_path(:copy_of_id => params[:id], :as_on => params[:as_on])

= render :partial => 'formulations/show', :locals => { :formulation => @accord }
= render 'formulations/items'
