- @page_title = "Accord: #{@accord}"

%ul.buttons
  - unless params[:as_on].present?
    %li= link_to "Edit Accord", edit_accord_path, :class => 'primary'
  - else
    %li= link_to "&laquo; Current Version".html_safe, accord_path, :class => 'primary'
  %li.select
    %a More
    %ul
      %li= link_to "View History", history_accord_path
      %li= link_to "Copy", new_accord_path(:copy_of_id => params[:id], :as_on => params[:as_on])

%table.form
  %tr
    %th Owner
    %td= @accord.owner
    %th State
    %td= @accord.state
  %tr
    %th Product Year
    %td= @accord.product_year
    %th Origin Formula ID
    %td= @accord.origin_formula_id
  %tr
    %th Top Note
    %td{ :colspan => 3 }= @accord.top_note.present? ? @accord.top_note : "N/A"
  %tr
    %th Middle Note
    %td{ :colspan => 3 }= @accord.middle_note.present? ? @accord.middle_note : "N/A"
  %tr
    %th Base Note
    %td{ :colspan => 3 }= @accord.base_note.present? ? @accord.base_note : "N/A"

%h2 Ingredients

%table.list.striped
  %thead
    %tr
      %th{ :style => 'width: 70%'} Compound
      %th{ :style => 'text-align: center;', :colspan => 2 } Quantity
      %th{ :style => 'text-align: center;', :colspan => 2 } Cost
  %tbody
    - @items.each do |item|
      %tr
        %td= item.compound
        %td.numeric
          = number_with_precision item.quantity, :precision => 3
        %td.numeric.quiet
          == #{number_to_percentage item.quantity_percentage}
        %td.numeric
          = number_to_currency 8292.80, :unit => 'Rs.'
        %td.numeric.quiet
          == #{number_to_percentage 12.7}
