%table.form
  %tr
    %th Owner
    %td= formulation_version.owner
    %th Version
    %td
      = formulation_version.version_number
      - if formulation_version.current?
        (current)
      - elsif formulation_version.draft?
  %tr
    %th State
    %td= formulation_version.state
    %th== #{formulation_version.published? ? 'Published' : 'Created'} on
    %td= (formulation_version.published? ? formulation_version.published_at : formulation_version.created_at).to_s(:long)
  %tr
    %th Unit Price
    %td= number_to_currency formulation_version.unit_price, :unit => current_currency.symbol
    %th Net Weight
    %td
      == #{number_with_precision formulation_version.net_weight, :precision => 3}
      %span.tip grams
  %tr
    %th Price
    %td.loud{ :colspan => 3 }
      == #{number_to_currency(formulation_version.price_per_kilogram, :unit => current_currency.symbol)}
      %span.tip per kg
  %tr
    %th
    %td{ :colspan => 3}
      %a.more.toggle{ :href => '#details' } more

%table#details.form.hidden
  %tr
    %th Product Year
    %td= formulation_version.product_year
    %th Origin Formula ID
    %td= formulation_version.origin_formula_id || "N/A"
  %tr
    %th Top Note
    %td{ :colspan => 3 }= formulation_version.top_note.present? ? formulation_version.top_note : "N/A"
  %tr
    %th Middle Note
    %td{ :colspan => 3 }= formulation_version.middle_note.present? ? formulation_version.middle_note : "N/A"
  %tr
    %th Base Note
    %td{ :colspan => 3 }= formulation_version.base_note.present? ? formulation_version.base_note : "N/A"

