%h3 Ingredients

%table.list.striped
  %thead
    %tr
      %th{ :style => 'width: 70%'} Compound
      %th{ :style => 'text-align: center;', :colspan => 2 } Quantity (grams)
      %th{ :style => 'text-align: center;', :colspan => 2 }== Price
  %tbody
    - formulation_version.items.current.each do |item|
      %tr
        %td= link_to item.compound, item.compound
        %td.numeric
          = number_with_precision item.quantity, :precision => 3
        %td.numeric.quiet
          == #{number_to_percentage item.quantity_percentage, :precision => 2}
        %td.numeric
          = number_to_currency item.price, :unit => current_currency[:symbol]
        %td.numeric.quiet
          == #{number_to_percentage item.price_percentage, :precision => 2}
