- @page_title = "Edit: #{@formulation_version}"

= form_for @formulation_version do |form|
  = form.error_messages
  = render form

  %fieldset
    %ol.buttons
      %li= form.submit "Save", :class => :primary
      %li= cancel_link(@formulation_version)
