- @page_title = "#{@formulation.type}: #{@formulation}"

%ul.buttons
  %li
    = link_to "&laquo; Current version".html_safe, @formulation, :class => 'primary'

%h3 History

%table.list
  %thead
    %tr
      %th Version
      %th Date
      %th By
      %th{ :colspan => 2 } Changes
  %tbody
    - @versions.each do |version|
      %tr.em
        - rowspan = version.changes.count + 1
        %td{ :rowspan => rowspan }= link_to version, version
        - version.changes.each do |change|
          %tr
            %td{ :style => 'width: 50px' }= change.created_at.to_s(:short)
            %td= change.user
            - unless change.comment.present?
              %td{ :style => 'width: 30px' }= display_audit_action change
              %td
                - if change.auditable.is_a?(FormulationItem)
                  = change.auditable.revision_at(change.created_at + 1)
                - elsif change.action != 'create'
                  = change.audited_changes.keys.collect(&:humanize).join(", ")
            - else
              %td{ :colspan => 2}= change.comment

