- @page_title = "New Version of #{@formulation}"

= form_for [@formulation, @version] do |form|
  = form.error_messages
  = render form

  %fieldset
    %ol.buttons
      %li= form.submit "Save", :class => :primary
      %li= cancel_link(@formulation)

