= inside_layout 'base' do
  - content_for :main_menu do
    #main_menu
      .wrapper
        %ul
          %li{ :class => current_tab?(:formulations) ? 'current' : nil }= link_to 'Formulations', fragrances_path
          %li{ :class => current_tab?(:ingredients) ? 'current' : nil }= link_to 'Ingredients', ingredients_path
          %li{ :class => current_tab?(:admin) ? 'current' : nil }= link_to 'Admin', '#', :class => 'todo'
  = yield
